# PHP Application
app/images/*.jpg
app/maps/*.jpg
app/places/*.json
app/datas.php
app/caches
app/common.php

# Backup
backup/

# Database
mysql/sql_migration.sql

# Scripts
scripts/config.sh

# Installation application via make
shunit2*

# Misc
SyncSettings.ffs_gui
