# Environment files
.env
app/config.php


# PHP Application
app/images/*.jpg
app/maps/*.jpg
app/places/*.json
app/datas.php
app/caches
app/common.php

# Backup
backup/

# Database
mysql/sql_migration.sql

# Scripts
scripts/config.sh

# Unit test
shunit2*
.phpunit*

# Misc
SyncSettings.ffs_gui
