<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" 
    colors="false" 
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true" 
    processIsolation="false" 
    stopOnFailure="false">
    <testsuites>
        <testsuite name="Function">
            <directory suffix="Test.php">./tests/Function</directory>
        </testsuite>
        <testsuite name="Database">
            <directory suffix="Test.php">./tests/Database</directory>
        </testsuite>
        <testsuite name="App">
            <directory suffix="Test.php">./tests/App</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="SERVER_NAME" 
            value="unittest"/>
    </php>
    <logging>
        <log type="testdox-text" 
            target="php://stdout"/>
    </logging>
</phpunit>